.App {
  text-align: center;
}

.component {
  margin: 0 auto;
  border: solid 1px #000;
  width: 400px;
}

.component-one {
  background-color: aqua;
  color: black;
}

.component-two {
  background-color: brown;
  color: white;
}

.component-three {
  background-color: darkgoldenrod;
  color: white;
}

.component-four {
  background-color: coral;
  color: black;
  height: 250px;
}

.component-five {
  background-color: yellow;
  color: black;
  width: 300px;
  height: 90px;
  padding: 0px;
}

.component-five h1,
.component-five p {
  padding: 0px;
  margin: 0px;
}

.component-six {
  background-color: blueviolet;
  color: white;
  height: 180px;
}

.button button {
  width: 250px;
  height: 120px;
  margin-top: 30px;
  background-color: #007bff;
  border: 1px solid rgba(0, 123, 255, 0.8);
  color: white;
  font-size: 1.5em;
}